<h1>Meds</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each meds.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each meds}}
        <tr>
            <td>{{this.medicationID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.dosageForm}}</td>
            <td>{{this.dosageStrength}}</td>
            <td>{{this.dosageUnit}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>