<h1>Patients</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each patients.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each patients}}
        <tr>
            <td>{{this.patientID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.birthDate}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.emailAddress}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Patient</h2>
<form class='cuForm' id='create_patient_form'>
    <label for='create_patient_fname'>First Name: </label>
    <input type='text' name='create_patient_fname' id='create_patient_fname' required />

    <label for='create_patient_lname'>Last Name: </label>
    <input type='text' name='create_patient_lname' id='create_patient_lname' />

    <label for='create_patient_birth_date'>Birth Date: </label>
    <input type='text' name='create_patient_birth_date' id='create_patient_birth_date'  placeholder='YYYY-MM-DD' required />

    <label for='create_patient_phone_number'>Phone Number:</label>
    <input type='number' name='create_patient_phone_number' id='create_patient_phone_number' min='0' />

    <label for='create_patient_email_address' >Email Address</label>
    <input type='text' name='create_patient_email_address' id='create_patient_email_address' />

    <input type='submit' />
</form>