{{! UPDATE form }}
<h1>Update a Prescription Med</h1>
<form class='cuForm' id='update_prescriptionMed_form'>
    <label for='update_prescriptionMed_prescriptionID'>Prescription ID: </label>
    <input type='number' name='update_prescriptionMed_prescriptionID' id='update_prescriptionMed_prescriptionID' 
    value='{{prescriptionMedInfo.[0].prescriptionID}}' min='0' required='true' /> <br>

    <label for='update_prescriptionMed_med'>Medication: </label>
    <input type='text' name='update_prescriptionMed_med' id='update_prescriptionMed_med' 
        value='{{prescriptionMedInfo.[0].medicationID}}' required /> <br>

    <label for='update_prescriptionMed_dosageForm'>Dosage Form: </label>
    <input type='text' name='update_prescriptionMed_dosageForm' id='update_prescriptionMed_dosageForm' 
        placeholder='e.g. Capsule, Liquid, Pill' value='{{prescriptionMedInfo.[0].dosageForm}}' required /> <br>

    <label for='update_prescriptionMed_dosageStrength'>Dosage Strength: </label>
    <input type='number' name='update_prescriptionMed_dosageStrength' id='update_prescriptionMed_dosageStrength' 
        value='{{prescriptionMedInfo.[0].dosageStrength}}' required /> <br>

    <label for='update_prescriptionMed_dosageUnit'>Dosage Unit: </label>
    <input type='text' name='update_prescriptionMed_dosageUnit' id='update_prescriptionMed_dosageUnit' 
        placeholder='e.g. mg, mL' value='{{prescriptionMedInfo.[0].dosageUnit}}' required /> <br>

    <label for='update_prescriptionMed_quantity'>Quantity: </label>
    <input type='number' name='update_prescriptionMed_quantity' id='update_prescriptionMed_quantity' 
        value='{{prescriptionMedInfo.[0].quantityFilled}}' required /> <br>

    {{! Note to self --- figure out how to extract only the date part from the date value (i.e. no time,
        day of week, etc. )}}
    <label for='update_prescriptionMed_dateFilled'>Date Filled: </label>
    <input type='text' name='update_prescriptionMed_dateFilled' id='update_prescriptionMed_dateFilled' 
        value='{{prescriptionMedInfo.[0].dateFilled}}' placeholder='YYYY-MM-DD' required /> <br>

    <label for='update_prescriptionMed_subtotal'>Subtotal: </label>
    <input type='number' name='update_prescriptionMed_subtotal' id='update_prescriptionMed_subtotal' 
        value='{{prescriptionMedInfo.[0].subTotal}}' required /> <br>

    <input type='submit' />
</form>