{{! UPDATE form }}
<h1>Update a Prescription Med</h1>
<form class='cuForm' id='update_prescriptionMed_form' method='POST' action='/prescription-meds/update/{{prescriptionMedInfo.[0].ID}}'>
    <label for='update_prescriptionMed_prescriptionID'>Prescription ID: </label>
    <input type='number' name='update_prescriptionMed_prescriptionID' id='update_prescriptionMed_prescriptionID' 
    value='{{prescriptionMedInfo.[0].prescriptionID}}' min='0' required='true' /> <br>

    <label for='update_prescriptionMed_info'>Medication: </label>
    <select for='update_prescriptionMed_info' name='update_prescriptionMed_info' id='update_prescriptionMed_info'>
        <option value='{{selectedMed.[0].medicationID}}' selected>
            {{selectedMed.[0].info}}
        </option>

        {{#each otherMeds}}
            <option value='{{this.medicationID}}'>
                {{this.info}}
            </option>
        {{/each}}
    </select> <br>

    <label for='update_prescriptionMed_quantity'>Quantity: </label>
    <input type='number' name='update_prescriptionMed_quantity' id='update_prescriptionMed_quantity' 
        value='{{prescriptionMedInfo.[0].quantityFilled}}' required /> <br>

    {{! Note to self --- figure out how to extract only the date part from the date value (i.e. no time,
        day of week, etc. )}}
    <label for='update_prescriptionMed_dateFilled'>Date Filled: </label>
    <input type='date' name='update_prescriptionMed_dateFilled' id='update_prescriptionMed_dateFilled' 
        value='{{prescriptionMedInfo.[0].dateFilled}}' /> <br>

    <label for='update_prescriptionMed_subtotal'>Subtotal: </label>
    <input type='number' name='update_prescriptionMed_subtotal' id='update_prescriptionMed_subtotal' 
        value='{{prescriptionMedInfo.[0].subTotal}}' step='.01' required /> <br>

    <input type='submit' />
</form>