<h1>Prescriptions and Meds</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each prescriptions.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each prescriptions}}
        <tr>
            <td>{{this.prescriptionID}}</td>
            <td>{{this.patientID}}</td>
            <td>{{this.doctorName}}</td>
            <td>{{this.dateIssued}}</td>
            <td>{{this.numRefills}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>

