{{! Citation
    Source: https://canvas.oregonstate.edu/courses/2007765/pages/exploration-web-application-technology-2?module_item_id=25664612
    Reason for Use / Level of Originality: I used the template code on Canvas to outline the pages for this project.
    Date Accessed: 8/7/2025
}}

<h1>Sales</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each sales.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! printing info for each sale }}
        {{#each sales}}
        <tr>
            <td>{{this.saleID}}</td>
            <td>{{this.prescriptionID}}</td>
            <td>{{this.saleDate}}</td>
            <td>{{this.totalAmount}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>